@model DonationLibrary.Web.ViewModels.RecipientDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

    <div class="container-fluid row text-light">
        <div class="col-6">
            <img src="@Model.Recipient.PictureURL" height="500" width="500" alt="@Model.Recipient.Name" />
        </div>
        <div class="col-6">
            <h1>@Model.Recipient.Name</h1>

            <p>
                @Model.Recipient.Description
            </p>

            <p><span class="font-weight-bold">Donation Status: </span>@Model.Recipient.DonationAccount</p>

            <p><span class="font-weight-bold">You Donated: </span> <span class="font-italic">@Model.Recipient.DonatedMoney</span> leva </p>

        </div>

        <br />
        <br />
        <h1 class="text-center">Donated Books</h1>
        <table class="table table-responsive-lg table-dark">
            <thead>
                <tr class="row">
                    <th class="col-3 text-center">Cover Image</th>
                    <th class="col-3 text-center">Title</th>
                    <th class="col-3 text-center">Description</th>
                    <th class="col-3 text-center">Author</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DonatedBooks)
                {
                    <tr class="row">
                        <td class="col-3 text-center"><img src="@item.BookCoverImageUrl" width="100" height="150" alt="@item.Description" /></td>
                        <td class="col-3 text-center"><a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></td>
                        <td class="col-3 text-center">@item.Description</td>
                        <td class="col-3 text-center"><a asp-controller="Author" asp-action="Details" asp-route-id="@item.AuthorId">@item.Author.Name</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

